---
import { Icon } from "astro-icon";
import ContentSection from "~/components/work-section.astro";
---

<ContentSection title="小居钓-AR钓鱼" id="w1">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <iframe class="w-full lg:w-3/4 aspect-video" src="//player.bilibili.com/player.html?aid=960469218&bvid=BV1Cp4y1N78o&cid=1253325446&page=1&high_quality=1&autoplay=0" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="allowfullscreen"> </iframe>
  <!-- <Fragment slot="lead">
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment> -->
  <!-- <Fragment>
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment> -->
  <div class="lg:w-3/4">
    <p 
      class="text-start text-sm"
    ><span class="text-primary">[项目介绍]</span> 小居钓-AR钓鱼0.1版  <br/>
客厅地板上会出现一个池塘/一片树林/一涌泉水，一边享受室内景观一边享受钓鱼乐趣吧！在AR钓鱼的同时继续现实世界的活动，可以一边钓鱼一边喝咖啡/看孩子/撸猫～  <br/>
游戏操作主要是通过甩动手柄/手指来实现鱼竿的操作，从而实现放饵与钓鱼。目前支持Pico和Rokid双平台。后续会继续完善美术场景和游戏机制，尽情期待。  <br/>
本版游戏登上了Rokid 2023的新品发布会！<a target=“_blank” href="https://www.bilibili.com/video/BV1Gp4y1J7qA/?share_source=copy_web&vd_source=c62bb7f54ec5827a6010b3ade43bc424&t=8166">>> 传送门</a>
 <br/>
    </p>
  </div>
</ContentSection>
