---
import { Icon } from "astro-icon";
import ContentSection from "~/components/work-section.astro";
---

<ContentSection title="MR蚊子大作战" id="w1">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <iframe class="w-full lg:w-3/4 aspect-video" src="//player.bilibili.com/player.html?aid=320891982&bvid=BV1Uw411v7m8&cid=1266697347&page=1&high_quality=1&autoplay=0" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="allowfullscreen"> </iframe>
  <!-- <Fragment slot="lead">
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment> -->
  <!-- <Fragment>
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment> -->
  <div class="lg:w-3/4">
    <p 
      class="text-start text-sm"
    ><span class="text-primary">[项目介绍]</span> MR打蚊子1.0：寻找到嗡嗡叫的烦人蚊子然后打爆它！三十年河西三十年河东，莫欺少年穷！夏天让你烦了个够，秋天我要找回场子！<br/>
<span class="text-primary">[项目成绩]</span> 2023高通XR应用创新挑战赛决赛入围 <br/>
 <span class="text-primary">[上线情况]</span> Pico体验区上架; Quest上线中; <br/>
 
    </p>
  </div>
</ContentSection>
