---
import { Icon } from "astro-icon";
import ContentSection from "~/components/work-section.astro";
---

<ContentSection title="童梦游记-MR塔防" id="works">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <iframe class="w-full lg:w-3/4 aspect-video" src="//player.bilibili.com/player.html?aid=446489033&bvid=BV1fj411X7Fp&cid=1210119606&page=1&high_quality=1&autoplay=0" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="allowfullscreen"> </iframe>
  <!-- <Fragment slot="lead">
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment> -->
  <!-- <Fragment>
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment> -->
  <div class="lg:w-3/4">
    <p 
      class="text-start text-sm"
    ><span class="text-primary">[项目介绍] </span>一款MR塔防游戏，让玩家在客厅中放置各类炮塔，迎击怪物。客厅将变为战场，沙发、椅子、茶几等家具都将变为战场中的各类地形，而玩家将利用这些地形布置好各类防御塔，消灭怪物。
    我们希望玩家通过MR体验到：1）怪物路线、塔防布置、炮塔攻击与真实地形有交互；2）混合空间中的布置、养成，提供平行世界体验。 <br/>
    <span class="text-primary">[项目成绩]</span>
     2022高通XR应用创新挑战赛决赛入围；Rokid首届AR全球开发者大赛银奖; <br/>
    <span class="text-primary">[上线情况]</span>
    奇遇XR应用商店上架；Pico体验区上架;

    </p>
  </div>
</ContentSection>
