---
import { Icon } from "astro-icon";
import ContentSection from "~/components/work-section.astro";
---

<ContentSection title="桌鼓狂人-MR手鼓" id="w1">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <iframe class="w-full lg:w-3/4 aspect-video" src="//player.bilibili.com/player.html?aid=575431795&bvid=BV15z4y1K7FF&cid=1253316446&page=1&high_quality=1&autoplay=0" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="allowfullscreen"> </iframe>
  <!-- <Fragment slot="lead">
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment> -->
  <!-- <Fragment>
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment> -->
  <div class="lg:w-3/4">
    <p 
      class="text-start text-sm"
    ><span class="text-primary">[项目介绍]</span> MR手鼓0.8版！游戏分三步：1.把鼓放到桌子上 2.跟着节奏拍鼓（拍桌子）3.手疼 <br/>
在这个游戏中我们主要尝试带来“物理反馈”的独特MR体验（拍桌子），并尝试回答“裸手交互下没有物理反馈怎么办”的问题。我们认为物理反馈将会是MR情境下非常独特的交互体验与游戏价值之一 <br/>
继0.1版之后我们更新了美术效果，向着上线又近了一步～ 我们除了原有的Quest平台外，这次还适配了Pico和Rokid，我们这次还上了2023 Rokid新品发布会！<br/>
<a target=“_blank” href="https://www.bilibili.com/video/BV1x14y1z7fP/?vd_source=1cd39e9d56887763db7210cbee46325f">>> 0.1版的demo视频传送门</a> <br/>
<a target=“_blank” href="https://www.bilibili.com/video/BV1Gp4y1J7qA/?share_source=copy_web&vd_source=c62bb7f54ec5827a6010b3ade43bc424&t=8166">>> Rokid发布会演讲传送门</a><br/>
<span class="text-primary">[项目成绩]</span> 2023高通XR应用创新挑战赛决赛入围 <br/>
 <span class="text-primary">[上线情况]</span> Quest上线中; <br/>
 
    </p>
  </div>
</ContentSection>
